@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@function to-rem($value ) {
    @return #{calc($value / 16)}rem;
}
body{
    @include fontFamily(400);
}

ul{
    list-style: none;
}

.page-margin{
    padding: to-rem(30) to-rem(80);
}
a{
    text-decoration: none;
}

.page-container{
    min-height: 100vh;
    padding-top: to-rem(50);
    @include themify($themes) {
        background-color: themed('backgroundColor');
    } 
    .input-fields{
        margin-bottom: to-rem(50);
    }
}


