
$darkModeElement : hsl(209, 23%, 22%);
$darkModeBackground : hsl(207, 26%, 17%);
$lightModeText : hsl(200, 15%, 8%);
$lightModeInput : hsl(0, 0%, 52%);
$lightModeBackground : hsl(0, 0%, 98%);
$whiteColor : hsl(0, 0%, 100%);
$boxShadowDarkMode : hsl(207deg 23% 9%);
$boxShadowLightMode : #888;

$scrollbar-thumb : #888;

$FS-Home : 14px;
$FS-Details : 16px;

